<%- include("includes/start.ejs")%>
</head>
<body>
<%-include("includes/navigation.ejs")%>
<div class="container">
    <div class="jumbotron bg-danger text-center text-white">
        <h1>some error occured</h1>
        <p>
            we're working on fixing this, sorry for inconvinience!
        </p>
    </div>
</div>
<%-include("includes/end.ejs")%>