<%- include("includes/start.ejs")%>
</head>
<body>
    <div class="backdrop"></div>
    <%-include("includes/navigation.ejs")%>

    <% if (isLoggedIn) {%>

        <% if (userType==="employee") {%>

            <!--<div class="container">-->
                <!--<div id="jumbotron" class="jumbotron">-->
                    <!--<h1 class="display-4">Manage your leaves easily</h1>-->
                <!--</div>-->
            <!--</div>-->

            <div class="home-page">
                <div class="home-page-container">
                    <h1 class="home-page_title">Manage your leaves easily</h1>
                </div>
            </div>

        <% } else {%>

            <!--<div class="container">-->
                <!--<div id="jumbotron" class="jumbotron">-->
                    <!--<h1 class="display-4">Welcome Admin</h1>-->
                <!--</div>-->
            <!--</div>-->

            <div class="home-page">
                <div class="home-page-container">
                    <h1 class="home-page_title">Welcome Admin</h1>
                </div>
            </div>

        <% }%>

    <% } else {%>

        <!--<div class="container">-->
            <!--<div id="jumbotron" class="jumbotron text-white">-->
                <!--<h1 class="display-4">Welcome to Leaveportal</h1>-->
            <!--</div>-->
        <!--</div>-->

        <div class="home-page">
            <div class="home-page-container">
                <h1 class="home-page_title">Welcome to Easyleaves</h1>
<!--                <a href="/login" class="btn">Login</a>-->
            </div>
        </div>

    <% }%>

<%-include("includes/end.ejs")%>
