

.login-header,
.reset-header,
.new-password-header{
    text-align: center;
    font-size: 1.5rem;
}


.login-body label,
.reset-body label,
.new-password-body label{
    font-weight: bold;
}


.login-buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reset-button,
#update-password-button{
    display: block;
    margin: 1rem auto;
}




